{% load i18n static %}<!DOCTYPE html>
<head>
    <title>Images</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/resizer.css' %}"/>

    {% load static %}
    <script type="application/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
{% block content %}
    <div class="container" style="max-width: 90%;" >
    <div>
        <a href="/upload/" type="button" class="btn btn-outline-info" style="margin: 12px;">Upload Image</a>
    </div>
    <div class="flex-container">
        {% for img in pictures %}
       <div class="card" style="width: 18rem; "  >
  <img src="{{ img.file.url }}" class="card-img-top" style="height: 160px;">
  <div class="card-body" style="background-color: #f3f3f3;">
    <p class="card-text"><a href="{{ img.file.url }}">Download/Resize(query_params)</a></p>
  </div>
</div>
        {% endfor %}
    </div>
    </div>




{% endblock %}
</body>

