{% load i18n static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/resizer.css' %}"/>
    {% load static %}
    <script type="module" src="{% static 'js/resizer.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">


    <form method="post" action="/download/" enctype="multipart/form-data">
        <h4 style="text-align: center">Download image</h4>
        <h5>File:</h5>
        {% csrf_token %}
        <div class="input-group">
              <span class="input-group-btn">
                <label class="btn btn-primary btn-file" for="multiple_input_group">
                  <div class="input required"><input oninput="myFunctionFile()" id="multiple_input_group" type="file"
                                                     name="myfile" multiple></div> Select file
                </label>
              </span>
            <span class="file-input-label"></span>
        </div>

        <h5>Url:</h5>
        <input oninput="myFunctionUrl()" type="url" name="myurl" id="url-type-styled-input">

        <button class="btn btn-info" type="submit">Upload</button>


    </form>


    {% block content %}


        {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}

    {% endblock %}


</div>

<script>
    function myFunctionFile() {
        document.getElementById("url-type-styled-input").disabled = true;
    }

    function myFunctionUrl() {
        document.getElementById("multiple_input_group").disabled = true;
    }
</script>
</body>
</html>