{% load i18n static %}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">
</head>

<body>

<form class="form-signin" method="post">
    {% csrf_token %}
  <div class="form-group" >
    <label for="id_username" >Username</label>

      <input type="text" class="form-control" name="username" autofocus required id="id_username">
  </div>
  <div class="form-group">
    <label for="id_password">Password</label>

      <input type="password" name="password" required id="id_password" class="form-control">
  </div>

  <button type="submit" class="btn btn-outline-success">Submit</button>
</form>
</body>
</html>