

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.file-input-label {
	padding: 0px 10px;
	display: table-cell;
	vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   font-size: 100%;
   -webkit-text-size-adjust: 100%;
}

form {
   font-family: 'Avenir Next', 'PT Sans', 'HelveticaNeue', 'Arial', 'Helvetica', sans-serif;
   text-rendering: optimizeLegibility;
   width: 85%;
   margin: 0 auto;
   padding: 25px 0;
   padding: 10vh 0;
}

@media screen and (min-width: 40.625em) {
   form {
      width: 50%;
      padding: 50px 0;
      padding: 20vh 0;
   }
}

label {
   font-size: 1.25em;
   color: #222;
}

label .aux {
   font-weight: 300;
   float: right;
}

input[type="url"] {
   font-size: 1.5em;
   width:100%;
   padding:0.25em 0.375em;
   margin:0.375em 0 1.25em 0;
   background-color: #fdfdfd;
   border: 0.0625em solid;
   border-color: #ccc;
   box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2);
   opacity: .75;
}

input[type="url"]:focus {
   outline: none;
   background-color: #fff;
   border-color: rgba(28, 126, 194,.8);
   box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(28, 126, 194,.8);
	 opacity: 1;
}

#url-type-styled-input:invalid {
   border-color: rgba(203,0,2,.8);
   box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(203,0,2,.8);
}

input[type="submit"] {
   font-size: 1.5em;
   width: 100%;
	 padding: 0.25em 0.375em;
	 margin: 0.375em 0 1.25em 0;
	 border: none;
   background-color: rgb(28, 126, 194);
	 color: #fff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;

}